<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VerifyOtp</title>
    <link rel="stylesheet" href="/verifyOtp.css" />
  </head>
  <body>
    <h1>Invalid Otp</h1>

    <a href="/api/auth/signUp"> Go to sign-up Page </a>
  </body>
</html>
